<div #swogan class="swogan-bar">
  <div ckass="swogan-content">
    <div class="swogan-logo"></div>
    <div class="swogan-text">Осмели се да мечтаеш за нея!</div>
    <nav #nav class="nav-bar">
      <ul>
        <li tabindex="1" class="nav-bar-link" routerLink="/dresses">Рокли</li>
        <li tabindex="1" class="nav-bar-link" routerLink="/organization">Организация</li>
        <li tabindex="1" class="nav-bar-link" routerLink="/about">За Нас</li>
        <li tabindex="1" class="nav-bar-link" routerLink="/contacts">Контакти</li>
      </ul>
    </nav>
  </div>
  <div #color class="swogan-color"></div>
  <div class="swogan-cover"></div>
</div>