/* You can add global styles to this file, and also import other style files */

@mixin flex-container($direction: column)
  display: flex
  flex-direction: $direction

@mixin flex-element($flex: none)
  flex: $flex

@font-face
  font-family: Roboto-Thin
  src: url(/fonts/roboto-thin.ttf)

@font-face
  font-family: Roboto-Light
  src: url(/fonts/roboto-light.ttf)

$COLOR-1: #4b1430
$COLOR-1-lt: #721e49
$COLOR-1-dk: #300d1f
$COLOR-2: #4a6c82
$COLOR-3: #e5b88c
$COLOR-3-DARK: #a88057
$COLOR-4: #e1d6cd
$COLOR-4-LITE: #eee9e5
$COLOR-5: #f87801
$COLOR-6: #f9f9f9
$COLOR-7: #db9d5f

$BACKGROUND-COLOR: $COLOR-6
$TEXT-COLOR: $COLOR-7

$ANIMATION-SPEED: 0.25s
$SCREEN-PC: 1280px
$SCREEN-TABLET: 788px
$SCREEN-PHONE: 480px
$COLUMN-WIDTH-PC: 50%
$COLUMN-WIDTH-MOB: 100%
$TEXT-COLUMN-PADDING-PC: 3rem
$TEXT-COLUMN-PADDING-TAB: 2rem
$TEXT-COLUMN-PADDING-MOB: 1rem

@function map($items, $func)

@mixin animate ($styles...)
  $transitions: []
  @each $style in $styles
    $transitions: $transitions, $style $ANIMATION-SPEED

  will-change: $styles
  transition: $transitions

@mixin on-tablet
  @media (max-width: $SCREEN-TABLET)
    @content

@mixin on-phone
  @media (max-width: $SCREEN-PHONE)
    @content

@mixin text
  font-family: Roboto-Light
  color: $TEXT-COLOR

$font: Roboto-Light
$font-light: Roboto-Thin
$logo-url: url(/images/logo.svg)
$FONT_H: #{56rem / 48}

@mixin link
  color: $TEXT-COLOR
  font-family: $font
  text-decoration: dotted underline

  &:hover
    color: $COLOR-3

  &:active
    color: $COLOR-1

@mixin title
  color: $TEXT-COLOR
  font-family: $font
  font-size: 2rem
  text-align: center

@mixin layout
  width: 100%
  max-width: $SCREEN-PC
  margin-left: calc(50% - #{$SCREEN-PC / 2})

  @media (max-width: $SCREEN-PC)
    margin: 0px

@mixin column
  text-align: center
  float: left
  width: $COLUMN-WIDTH-PC
  color: $COLOR-3

  @media screen and (max-width: $SCREEN-PHONE)
    width: $COLUMN-WIDTH-MOB
    float: none

@mixin paragraph
  @include text
  @include animate(padding)
  color: $TEXT-COLOR
  text-align: justify
  padding: 3rem

  @include on-tablet
    @include animate(padding)
    padding: 2rem

  @include on-phone
    @include animate(padding)
    padding: 1rem

@mixin fill($z-index: -1)
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  display: block
  z-index: $z-index

html
  height: 100%
  width: 100%

body
  padding: 0px
  margin: 0px
  height: 100%
  min-height: 100%
  min-width: 100%

  &[dialog]
    overflow: hidden

button
  @include text
  border: 0px
  background-color: $TEXT-COLOR
  color: white
  font-size: 1rem
  padding: .5rem 2rem .5rem 2rem
  outline: 0px dotted $TEXT-COLOR
  @include animate(color, background-color, outline-width)

  &:hover
    cursor: pointer
    background-color: $COLOR-3
    @include animate(color, background-color)

  &:active
    color: white
    background-color: $COLOR-1
    @include animate(color, background-color)

  &:focus
    outline-width: 3px

input, textarea
  @include text
  border: 1px solid $TEXT-COLOR
  background-color: transparent
  padding: 0.5rem
  color: $TEXT-COLOR
  outline: 0px dotted $TEXT-COLOR
  outline-offset: 0px
  @include animate(background-color, outline-width)

  &:focus
    outline-width: 3px

textarea
  resize: vertical

label
  @include text
  margin-top: 0.5rem
  color: $TEXT-COLOR
  &::after
    content: ':'

h1
  @include title

a
  @include link

p
  @include text

.layout
  @include layout

.column
  @include column

.text
  @include text