---
layout: base
navStuck: true
---

<div id="home-intro" class="home intro">
  <img loading="lazy" class="home logo" src="{{ '/assets/logo.svg' | relative_url }}">
  <p class="home swogan">Осмели се да мечтаеш за нея!</p>
  <img
    loading="lazy"
    class="home cover"
    src="{{ '/assets/images/banner-1280.jpg' | relative_url }}"
    lazy-src="{{ '/assets/images/banner.jpg' | relative_url }}"
  >
  <button id="scroll-button" class="button">Напред</button>
</div>

{% include navigation.html %}
{% include discount.html %}

<script>
  const intro = document.getElementById('home-intro');
  const button = document.getElementById('scroll-button');
  button.addEventListener('click', () => {
    window.scrollTo({
      top: intro.clientTop + intro.clientHeight,
      behavior: "smooth"
    });
  })
</script>

<p class="home description">
  Steff Wedding е луксозен сватбен бутик, който носи неподражаемия дух на бохо, винтидж и ръстик елементите за една
  незабравима сватба с твоя личен почерк!
</p>

<div class="divider"></div>

<main class="layout">
  <div class="home-link-container">
    {% if site.data.offer %}
    {%
      assign discount = site.data.offer.discounts
      | sort: "amount"
      | map: "amount"
      | last
    %}
    {% endif %}
    <a class="home link" href="{{ '/collections' | relative_url }}">
      <img
        loading="lazy"
        src="{{ '/assets/images/dresses/jacket-close-2-640.JPG' | relative_url }}""
        lazy-src="{{ '/assets/images/dresses/jacket-close-2-1920.JPG' | relative_url }}"
      >
      <div class="home link text">Колекции</div>
      {% if discount %}
      <div class="discount-tag">Отстъпки до {{discount}}%</div>
      {% endif %}
    </a>

    <a class="home link" href="{{ '/organize' | relative_url }}">
      <img
        loading="lazy"
        src="{{ '/assets/images/organize-640.jpg' | relative_url }}"
        lazy-src="{{ '/assets/images/organize-1920.jpg' | relative_url }}"
      >
      <div class="home link text">Организация</div>
    </a>
  </div>
</main>

<div class="content center margin">
  <button id="contacts-link" class="button">Къде да ни намериш?</button>
</div>

{% include cookies.html %}
{% include footer.html %}
{% include background.html %}
<script>
  document.getElementById('contacts-link').addEventListener('click', () => {
    window.location.href = "{{ '/contacts' | relative_url }}";
  });
</script>