<div class="swogan-bar">
  <div class="swogan-bg"></div>
  <div class="swogan-logo"></div>
  <div class="swogan-text">Осмели се да мечтаеш за нея!</div>
</div>

<header>
  <nav class="nav-bar">
    <ul>
      <li class="nav-bar-link" routerLink="/dresses">Рокли</li>
      <li class="nav-bar-link" routerLink="/organization">Организация</li>
      <li class="nav-bar-link" routerLink="/about">За Нас</li>
      <li class="nav-bar-link" routerLink="/contacts">Контакти</li>
    </ul>
  </nav>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<!-- <footer *ngIf="showFooter">
  <a class="footer" routerLink="/">Обратно към начало</a>
</footer> -->