<div id="cookie-disclaimer" class="cookie dialog" style="display: none;">
  <p>
    За да можем да следим посещенията в нашата уеб страница, ние използваме бисквитки. За повече информация, може да
    прочетеш нашата политика за поверителност.
  </p>
  <div class="cookie buttons">
    <button id="accept-cookies" class="button">Приемам Всички</button>
    <button id="manage-cookies" class="cookie manage button light">Управление на Бисквите</button>
  </div>
</div>

<script>
  const disclaimer = document.getElementById('cookie-disclaimer');
  const acceptCookiesButton = document.getElementById('accept-cookies');
  const manageCookiesButton = document.getElementById('manage-cookies');

  acceptCookiesButton.addEventListener('click', () => {
    sw.settings.setAnalyticsSettings(true, true);
    hide(disclaimer);
  });

  manageCookiesButton.addEventListener('click', () => {
    window.location.href = '{{ site.baseurl }}/cookie-policy'
  });

  if (!sw.settings.getCookieSettings().confirmed) {
    setTimeout(() => show(disclaimer), 5000);
  }
</script>