<footer class="footer container">
  <p class="footer social">
    <a href="https://www.facebook.com/Steff.Wedding/" target="_blank"><img
        loading="lazy"
        src="{{ '/assets/images/facebook-icon.svg' | relative_url }}"
        style="height: 1.5rem"></a>
    <a href="https://www.instagram.com/steff.wedding/" target="_blank"><img
        loading="lazy"
        src="{{ '/assets/images/instagram-icon.svg' | relative_url }}"
        style="height: 1.5rem"></a>
  </p>
  <div class="footer sites hbox center">
    <a href="{{ '/privacy-policy' | relative_url }}">Политика за Поверителност</a>
    <div> | <a href="{{ '/cookie-policy' | relative_url }}">Политика за Бисквитки</a></div>
    <div> | <a href="{{ '/contacts' | relative_url }}">Контакти</a></div>
  </div>
  <p class="footer text">&copy; 2021-{{ site.time | date: '%Y' }} Steff Wedding</p>
</footer>