<footer class="footer container">
  <p class="footer social">
    <a href="https://www.facebook.com/Steff.Wedding/" target="_blank"><img
        src="{{ site.baseurl }}/assets/images/facebook-icon.svg" style="height: 1.5rem"></a>
    <a href="https://www.instagram.com/steff.wedding/" target="_blank"><img
        src="{{ site.baseurl }}/assets/images/instagram-icon.svg" style="height: 1.5rem"></a>
  </p>
  <div class="footer sites">
    <a href="{{ site.baseurl }}/privacy-policy">Политика за Поверителност</a> | <a href="{{ site.baseurl }}/cookie-policy">Политика за Бисквитки</a> | <a href="{{ site.baseurl }}/contacts">Контакти</a>
  </div>
  <p class="footer text">© 2021 Steff Wedding</p>
</footer>