<head>
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <link rel="icon" href="{{ '/assets/favicon.png' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/css/styles.css' | absolute_url }}"></link>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="{{ '/assets/js/utils.js' | absolute_url }}"></script>
  <script src="{{ '/assets/js/sticky.js' | absolute_url }}"></script>
  <script src="{{ '/assets/js/cookies.js' | absolute_url }}"></script>
  <script src="{{ '/assets/js/http.js' | absolute_url }}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ET036R6Y9G"></script>
  <script>
    // Init Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }

    // Init Facebook Pixel
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');

    applyConsentSettings();
    gtag('js', new Date());
    gtag('config', 'G-ET036R6Y9G');
    fbq('init', '436439281054357');
    fbq('track', 'PageView');
  </script>
</head>