<head>
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="Steff Wedding е сватбен бутик">
  <meta name="keywords"
    content="Steff Wedding,wedding dresses,organizing wedding,wedding management,wedding,dress,organize,manage,shop,boutique,Vratsa,сватбени рокли,организиране на сватби,сватба,рокли,организиране,магазин,бутик,Враца">
  <meta name="og:title" content="Steff Wedding">
  <meta name="og:description" content="Steff Wedding е сватбен бутик">
  <meta name="og:type" content="website">
  <meta name="og:url" content="http://www.steffwedding.com/">
  <meta name="og:image" content="/images/logo.svg">
  <link rel="icon" href="{{ site.baseurl}}/assets/favicon.png">
  <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
  </link>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/utils.js"></script>
  <script src="{{ site.baseurl }}/assets/js/sticky.js"></script>
  <script src="{{ site.baseurl }}/assets/js/cookies.js"></script>
  <script src="{{ site.baseurl }}/assets/js/http.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ET036R6Y9G"></script>
  <script>
    // Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('consent', 'default', {
      'ad_storage': isGoogleAnalyticsAllowed() ? 'granted' : 'denied',
      'analytics_storage': isGoogleAnalyticsAllowed() ? 'granted' : 'denied'
    });
    gtag('js', new Date());
    gtag('config', 'G-ET036R6Y9G');
  </script>
  <script>
    // Facebook Pixel Code
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('consent', isFacebookPixelAllowed() ? 'grant' : 'revoke');
    fbq('init', '436439281054357');
    fbq('track', 'PageView');
  </script>
</head>