{% if page.navStuck %}
  {% assign stuck = 'color' %}
{% endif %}
<nav id="nav-bar" class="nav bar {{ stuck }}">
  <li class="nav link">
    <a href="{{ '/' | relative_url }}">Начало</a>
  </li>
  <li class="nav link">
    <a href="{{ '/collections' | relative_url }}">Колекции</a>
  </li>
  <li class="nav link">
    <a href="{{ '/organize' | relative_url }}">Организация</a>
  </li>
  <li class="nav link">
    <a href="{{ '/about' | relative_url }}">За Нас</a>
  </li>
  <li class="nav link">
    <a href="{{ '/contacts' | relative_url }}">Контакти</a>
  </li>
</nav>

<script>
  const navBar = document.getElementById('nav-bar');
  window.StickService.register(navBar, ['stuck']);
</script>