<div class="swogan">
  <div class="swogan bar">
    <img class="swogan logo" src="{{ '/assets/images/logo-white.svg' | relative_url }}">
    <div class="swogan content">
      <p class="swogan text">Осмели се да мечтаеш за нея!</p>
      {% include navigation.html %}
    </div>
    <div id="nav-color" class="swogan color"></div>
    <img
      class="swogan cover"
      src="{{ '/assets/images/banner-640.jpg' | relative_url }}"
      hd-src="{{ '/assets/images/banner.jpg' | relative_url }}"
    >
  </div>
</div>

<script>
  const color = document.getElementById('nav-color');
  window.addEventListener('scroll', event => {
    color.style.opacity = Math.min(window.pageYOffset / navBar.offsetTop, 1).toString();
  });
</script>