---
# Yes
---
@use "sass:color";

@use "base" as *;
@use "article" as *;
@use "navigation" as *;

@mixin on-pc {
  @media screen and (max-width: $SCREEN-PC) {
    @content;
  }
}

@mixin on-tablet {
  @media screen and (max-width: $SCREEN-TABLET) {
    @content;
  }
}

@mixin on-phone {
  @media screen and (max-width: $SCREEN-PHONE) {
    @content;
  }
}

@mixin on-phone-sideways {
  @media screen and (max-height: 512px) {
    @content;
  }
}

@mixin animate($what, $speed: 0.5s) {
  $transitions: ();
  $will-change: ();
  @each $style in $what {
    $transitions: $transitions, $style $speed;
    $will-change: $will-change, $style;
  }

  will-change: $will-change;
  transition: $transitions;
}

.divider {
  background-image: url("{{ site.baseurl }}/assets/divider.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: calc(100% - 2rem);
  height: 3rem;
  margin: 1rem;
}

.home {
  &.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 4rem);
    height: calc(100vh - 4rem);
    padding: 2rem;
    position: relative;
  }

  &.logo {
    height: 50%;

    @include on-phone {
      height: 8rem;
    }

    @include on-phone-sideways {
      width: unset;
      height: 8rem;
    }
  }

  &.swogan {
    font-family: Roboto-Thin;
    font-size: 5vw;
    color: white;
    margin: 2rem 0rem 2rem 0rem;

    @include on-tablet {
      font-family: Roboto-Light;
    }

    @include on-phone-sideways {
      font-size: 2rem;
    }
  }

  &.cover {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-transform: translate3d(0, 0, 0); // Bug on Safari
  }

  @mixin home-link($count) {
    margin: 1rem;
    width: calc(#{$PAGE-W} / #{$count} - 2rem);
    height: calc(100vh - 3rem - 2rem);
    float: left;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    @include on-phone {
      width: calc(100% - 2rem);
      height: calc((100vh - 3rem) / 2 - 1rem);
    }

    & img {
      @include fill;
      object-fit: cover;
      object-position: center;
      transform: scale(1.1);
      @include animate($what: transform);

      &::before {
        content: "";
        @include fill(1);
        outline: 2rem solid black;
        outline-offset: -1rem;
        filter: blur(1rem) opacity(0);
        @include animate($what: filter);
      }
    }

    &.text {
      position: absolute;
      @include text;
      color: white;
      padding: 1rem 2rem 1rem 2rem;
      text-align: center;
      width: fit-content;
      height: fit-content;
      width: -moz-fit-content;
      height: -moz-fit-content;
      background-color: #00000088;
      @include animate($what: background-color);
    }

    &:hover img {
      transform: scale(1);

      &::before {
        filter: opacity(0.5);
      }
    }

    &:hover &.text {
      background-color: $TEXT-COLOR;
      color: black;
    }
  }

  &.link {
    @include home-link(2);
  }

  &.collection-link {
    @include home-link(3);
  }

  &.description {
    margin: 0px;
    padding: 2rem;
    text-align: center;
    font-family: Roboto-Thin;
    font-size: 3vw;
    color: $TEXT-COLOR;

    @include on-tablet {
      font-size: 1.75rem;
    }

    @include on-phone {
      font-size: 1.5rem;
      font-family: Roboto-Light;
    }
  }

  &.contacts {
    display: flex;
    width: calc(100% - 4rem);
    align-items: center;
    justify-content: center;
    margin: 2rem;
  }
}

.galery {
  $padding: 0.5em;
  $animation-speed: 0.4s;

  &.container {
    display: inline-block;
    width: calc(100% - #{2 * $padding});
    padding: $padding;
  }

  &.image {
    @function width($parts) {
      @return calc(100% / #{$parts} - #{2 * $padding});
    }

    @function height($parts) {
      @return calc(min(100vh - 3rem, min(100vw, #{$SCREEN-PC}) / #{$parts} * #{$WIDESCREEN-RATIO}));
    }

    float: left;
    margin: $padding;
    position: relative;
    overflow: hidden;
    width: width(4);
    height: height(4);

    @include on-pc {
      width: width(4);
      height: height(4);
    }

    @include on-tablet {
      width: width(3);
      height: height(3);
    }

    @include on-phone {
      width: width(2);
      height: height(2);
    }

    &::before {
      content: "";
      @include fill(1);
      outline: 2rem solid black;
      outline-offset: -1rem;
      filter: blur(1rem) opacity(0);
      @include animate($what: filter, $speed: $animation-speed);
    }

    &:hover {
      &::before {
        filter: blur(1rem) opacity(1);
      }

      img {
        transform: scale(1);
      }

      .title {
        color: white;
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      transform: scale(1.1);
      @include animate($what: transform, $speed: $animation-speed);
    }

    & .title {
      $font-coef: 0.07;
      position: absolute;
      z-index: 2;
      bottom: 0px;
      width: calc(100% - 1rem);
      display: block;
      text-align: center;
      font-size: calc(#{$SCREEN-PC} / 4 * #{$font-coef});
      background-color: #000000aa;
      padding: 0.5rem;
      @include animate($what: color, $speed: $animation-speed);

      @include on-pc {
        font-size: calc(25vw * #{$font-coef});
      }

      @include on-tablet {
        font-size: calc(33vw * #{$font-coef});
      }

      @include on-phone {
        font-size: calc(50vw * #{$font-coef});
      }
    }
  }
}

.dress {
  &.container {
    @include layout;

    & {
      display: flex;
      flex-direction: row;
    }

    @include on-tablet {
      flex-direction: column;
    }
  }

  &.text {
    $padding: 1rem;
    padding: $padding;
    width: calc(#{$PAGE-W} / 3 - #{2 * $padding});
    display: block;

    @include on-tablet {
      width: calc(100% - #{2 * $padding});
    }
  }

  &.images {
    display: block;
    width: calc(2 * #{$PAGE-W} / 3);

    @include on-tablet {
      width: 100%;
    }

    & img {
      width: 100%;
    }
  }
}

.content {
  &.center {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &.margin {
    margin: 2rem;
    &.center {
      width: calc(100% - 4rem);
    }
  }

  &.padding-top {
    padding-top:2rem;
  }
}

.box {
  &.borders {
    border: 1px solid $TEXT-COLOR;
  }
}

.cookie {
  &.dialog {
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #{$COLOR-6}ee;
    padding: 2rem;
    z-index: 300;
    width: 32rem;

    & p {
      color: black;
    }

    @include on-tablet {
      width: calc(100% - 2rem);
      padding: 1rem;
      bottom: 0px;
      right: 0px;
    }
  }

  & .buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;

    @include on-phone {
      flex-direction: column;
      align-items: center;
    }
  }

  &.manage {
    background-color: transparent;
    color: black;
    margin-left: 1rem;
    @include on-phone {
      margin-left: 0px;
      margin-top: 1rem;
    }
  }
}

@mixin button {
  @include text;
  border: 0px;
  font-size: 1rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  outline: 3px dotted transparent;
  text-decoration: none;
  text-align: center;
  @include animate($what: color background-color outline-color);

  &:hover {
    cursor: pointer;
    background-color: $COLOR-3;
    color: black;
  }

  &:active {
    color: white;
    background-color: $COLOR-1;
  }

  &:focus {
    outline-color: $TEXT-COLOR;
  }
}

.button {
  @include button;
  background-color: $TEXT-COLOR;
  color: white;
  width: fit-content;
  width: -moz-fit-content;

  &.light {
    color: black;
  }
}

.contacts-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: calc(100% - 4rem);

  & form {
    display: flex;
    flex-direction: column;

    & label {
      margin-top: 1rem;
    }

    & button {
      margin-top: 1rem;
      width: fit-content;
      width: -moz-fit-content;
      align-self: flex-end;
    }
  }

  @mixin message($color, $icon-path) {
    font-family: Roboto-Light;
    padding: 1rem;
    width: calc(100% - 2rem);
    background-color: #{$color}66;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before {
      content: '';
      background-image: url('{{ site.baseurl }}#{$icon-path}');
      background-size: contain;
      background-repeat: no-repeat;
      height: 1.5rem;
      min-height: 1.5rem;
      width: 1.5rem;
      min-width: 1.5rem;
      display: block;
      margin-right: 0.5rem;
    }
  }

  &.error {
    @include message($color: $COLOR-5, $icon-path: '/assets/images/warning.svg');
  }

  &.success {
    @include message($color: $COLOR-9, $icon-path: '/assets/images/success.svg');
  }
}

.toggle {
  border: 1px solid gray;
  padding: 0px;
  margin: 0px;
  width: 2.75rem;
  height: 1.5rem;
  min-width: 2.75rem;
  min-height: 1.5rem;
  border-radius: 1rem;
  outline: 3px dotted transparent;
  outline-offset: 0px;
  background-color: lightgray;
  @include animate($what: outline-color background-color border-color, $speed: 0.25s);

  &:focus {
    outline-color: $TEXT-COLOR;
  }

  &[data-active='t'] {
    border-color: $COLOR-2;
    background-color: color.adjust($COLOR-2, $lightness: 25%);
  }

  &::before {
    content: '';
    position: relative;
    left: 1px;
    display: block;
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px);
    border-radius: 50%;
    background-color: gray;
    @include animate($what: transform background-color, $speed: 0.25s);
  }

  &[data-active='t']::before {
    transform: translateX(1.25rem);
    background-color: $COLOR-2;
  }
}

.hbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  & *:not(:first-child) {
    margin-left: 0.5rem;
  }

  &.center {
    align-items: center;
  }
}

.vbox {
  display: flex;
  flex-direction: column;

  & > *:not(:first-child) {
    margin-top: 0.5rem;
  }

  &.center {
    align-items: center;
  }
}

@mixin discount-tag($padding) {
  background-color: $COLOR-5;
  color: white;
  text-decoration: none;
  padding: $padding;
  padding-right: #{$padding * 2};
  margin-left: $padding;
  margin-right: $padding;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: visible;
  box-shadow: 2px 2px 4px #00000044;

  &::before {
    content: '●';
    padding-right: $padding;
  }
}

.discount-tag-compact {
  @include discount-tag($padding: 0.25rem);
  display: inline-flex;
}

.discount-tag {
  @include discount-tag($padding: 0.5rem);
  position: absolute;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: -0.5rem;
  font-size: 0.75rem;

  @media screen and (max-width: 400px) {
    font-size: 4vw;
  }
}

.discount-banner {
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: $COLOR-5;

  @include on-tablet() {
    padding: 0.75rem;
  }

  @include on-phone() {
    padding: 0.5rem;
  }

  @media screen and (max-width: 400px) {
    font-size: 4vw;
  }

  & a {
    color: white;
    @media screen and (max-width: 400px) {
      font-size: 4vw;
    }
  }
}