<div class="layout">
  <article class="disclaimer">
    За нас е важно всяка бъдеща булка да усети онзи магичен момент на влюбването от пръв поглед в правилната рокля.
    Затова пробите при нас не се заплащат и нямат ограничения. Но ти препоръчваме да си запазиш час, за да можем да ти
    обърнем максимално внимание и да не чакаш.
  </article>

  <section class="column">
    <h1>Работно Време</h1>

    <p class="disclaimer" style="text-align: center;">
      Магазинът ще отвори врати на 30.01.2021 в 12:30ч.<br>
      Очакваме те!
    </p>

    <ul>
      <li class="schedule-li"><span class="schedule-li-header">Понеделник</span> – почивен ден</li>
      <li class="schedule-li"><span class="schedule-li-header">Вторник</span> – почивен ден</li>
      <li class="schedule-li"><span class="schedule-li-header">Сряда</span> – 09:30 – 19:00</li>
      <li class="schedule-li"><span class="schedule-li-header">Четвъртък</span> – 09:30 – 19:00</li>
      <li class="schedule-li"><span class="schedule-li-header">Петък</span> – 09:30 – 19:00</li>
      <li class="schedule-li"><span class="schedule-li-header">Събота</span> – 09:30 – 19:00</li>
      <li class="schedule-li"><span class="schedule-li-header">Неделя</span> – 11:00 – 16:00</li>
    </ul>

    <p class="schedule-disclaimer">
      Ако някои от тези диапазони не ти е удобен, обади ни се или ни пиши и при възможност ще ти запишем час в удобно за
      теб време.
    </p>
  </section>

  <section class="column">
    <h1>Адрес</h1>
    <address class="text">гр. Враца, ул. Димитраки Хаджитошев 5А</address>
    <p class="text" style="margin-top: 0px">(в близост до ул. Търговска и пл. Христо Ботев)</p>
    <p class="text">
      Email: <a class="contact-value"
        href="mailto:simona.klimentova@steffwedding.com">simona.klimentova@steffwedding.com</a><br>
      Телефон: <a class="contact-value" href="tel:+359887939599">+359 887 939 599</a>
    </p>
    <img class="map">
    <!-- <iframe
      class="map"
      sandbox="allow-scripts"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2908.3490710582355!2d23.547838315483148!3d43.20216727913933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa80b469241b2a8f2!2sSteff%20Wedding!5e0!3m2!1sbg!2sbg!4v1608811350346!5m2!1sbg!2sbg"
      allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
  </section>
</div>