@import ../../../styles

.layout
  @include layout

article
  @include paragraph
  font-size: 1rem
  border: 1px solid #{$COLOR-4}
  margin: 3rem
  @include animate(margin)

  @include on-tablet
    margin: 2rem
    @include animate(margin)

  @include on-phone
    margin: 1rem
    @include animate(margin)

section
  text-align: center
  float: left
  width: 50%

  @media (max-width: $SCREEN-PHONE)
    float: none
    width: 100%

.schedule-li
  @include text
  color: $COLOR-4
  list-style-type: none

.schedule-li-header
  @include text
  font-weight: bold

iframe
  border: 0px
  width: 100%
  max-width: 350px
  height: 240px

  @media ( max-width: 350px )
    width: 100%

h1
  @include title

.contact-value
  @include link

.text
  @include text
  color: $COLOR-4
  word-wrap: normal