<div *ngIf="(activeUrl$ | async) as imageUrl" class="layout">
  <picture #display
            [ngClass]="{
              'display': true,
              'display-zoom': zoomDisplay
            }"
            [ngStyle]="{
              'background-image': 'url(' + imageUrl + ')',
              'background-position': zoomDisplay ? '-' + displayX + 'px -' + displayY + 'px' : 'center'
            }"
            (mousemove)="onMouseMove($event)"
            (click)="onZoomDisplay($event)">
    <!-- <div class="image-link" (click)="popover.style.display = 'flex'">цял екран</div> -->
  </picture>
  
  <div class="previews-container">
    <div *ngFor="let url of urls; index as i; trackBy: identify"
        #preview
        tabindex="1"
        role="button"
        style="background-image: url({{url}})"
        [ngClass]="{'preview': true, 'preview-active': i === activeIndex}"
        (click)="onSelectImage($event, i)">
    </div>
  </div>

  <!-- <div #popover class="popover">
    <div class="popover-content"></div>
    <img class="popover-image" [src]="imageUrl">
    <button class="popover-close" (click)="popover.style.display = 'none'">X</button>
  </div> -->
</div>