---
layout: page
---

<div class="article container">
  <div class="article image-container">
    <img id="article-image" class="article image" srcset="
    {{ site.baseurl}}/assets/images/{{ page.image }}-640.jpg 1280w,
    {{ site.baseurl}}/assets/images/{{ page.image }}-1024.jpg 2048w,
    {{ site.baseurl}}/assets/images/{{ page.image }}-1920.jpg 3840w"
    src="{{ site.baseurl}}/assets/images/{{ page.image }}-full.jpg" alt="{{ page.image-alt }}">
  </div>

  <article class="article text">
    {{ content }}
  </article>
</div>
  
<script>
  window.StickService.register(
    document.getElementById('article-image'),
    [],
    '(min-width: 481px)'
  );
</script>