---
layout: page
---

<div class="article container">
  <div class="article image-container">
    <picture>
      <source media="(max-width: 1920px) and (max-height: 753px)"
        srcset="{{ site.baseurl}}/assets/images/{{ page.image }}-640.jpg">
      <source media="(max-width: 3840px) and (max-height: 1507px)"
        srcset="{{ site.baseurl}}/assets/images/{{ page.image }}-1280.jpg">
      <img id="article-image" class="article image" src="{{ site.baseurl}}/assets/images/{{ page.image }}-1920.jpg"
        alt="{{ page.image-alt }}" title="{{ page.image-alt }}">
    </picture>
  </div>

  <article class="article text">
    {{ content }}
  </article>
</div>

<!-- <script>
  window.StickService.register(
    document.getElementById('article-image'),
    [],
    '(min-width: 481px)'
  );
</script> -->