---
layout: page
---

<div class="article container">
  <div class="article image-container">
    <img
      id="article-image"
      loading="lazy"
      class="article image"
      src="{{ '/assets/images/' | append: page.image | append: '-640.jpg' | relative_url }}"
      lazy-src="{{ '/assets/images/' | append: page.image | append: '-1280.jpg' | relative_url }}"
      alt="{{ page.image-alt }}"
      title="{{ page.image-alt }}"
    >
  </div>

  <article class="article text">
    {{ content }}
  </article>
</div>
