---
layout: page
title: Колекции
hideTitle: true
---

{%
  assign dresses = site.sw-dresses
  | where: 'sw-dress-collection-id', page.sw-collection-id
%}

{% if page.sw-collection-swogan %}
<article class="home description">
  {{ page.sw-collection-swogan | newline_to_br | smartify }}
</article>

<div class="divider"></div>
{% endif %}

<div class="galery container">
  {% for dress in dresses %}
  {%
    assign discount = site.data.offer.discounts
    | where_exp: "item",
      "
        item.collections == '*'
        or item.collections == page.sw-collection-id
        or item.collections contains page.sw-collection-id
      "
    | where_exp: "item",
      "
        item.dresses == '*'
        or item.dresses == dress.sw-dress-id
        or item.dresses contains dress.sw-dress-id
      "
    | sort: "amount"
    | map: "amount"
    | last
  %}
  <a class="galery image" href="{{ dress.url }}">
    <img src="{{ site.baseurl }}/assets/images/dresses/{{ dress.sw-dress-id }}-{{ dress.sw-dress-photos | first }}-640.JPG">
    <span class="title">{{ dress.sw-dress-name }}</span>
    {% if discount %}
    <div class="discount-tag">До -{{discount}}%</div>
    {% endif %}
  </a>
  {% endfor %}
</div>

{% if page.sw-collection-description %}
<div class="divider"></div>

<div class="article container">
  <div class="article image-container">
    <picture>
      <source media="(max-width: 1920px) and (max-height: 982px)"
        srcset="{{ site.baseurl}}/assets/images/{{ page.sw-collection-designer-photo }}-640.JPG">
      <source media="(max-width: 2560px) and (max-height: 1964px)"
        srcset="{{ site.baseurl}}/assets/images/{{ page.sw-collection-designer-photo }}-1280.JPG">
      <img id="article-image" class="article image"
        src="{{ site.baseurl}}/assets/images/{{ page.sw-collection-designer-photo }}-1920.JPG"
        alt="{{ page.sw-collection-designer-photo-alt }}" title="{{ page.sw-collection-designer-photo-alt }}">
    </picture>
  </div>

  <article class="article text">
    {{ page.sw-collection-description | newline_to_br }}
  </article>
</div>
{% endif %}