---
layout: page
title: Колекции
hideTitle: true
---

{%
  assign dresses = site.sw-dresses
  | where: 'sw-dress-collection-id', page.sw-collection-id
%}

{% if page.sw-collection-swogan %}
<article class="home description">
  {{ page.sw-collection-swogan | newline_to_br | smartify }}
</article>

<div class="divider"></div>
{% endif %}

<div class="galery container">
  {% for dress in dresses %}
  {% if side.data.offer %}
  {%
    assign discount = site.data.offer.discounts
    | where_exp: "item",
      "
        item.collections == '*'
        or item.collections == page.sw-collection-id
        or item.collections contains page.sw-collection-id
      "
    | where_exp: "item",
      "
        item.dresses == '*'
        or item.dresses == dress.sw-dress-id
        or item.dresses contains dress.sw-dress-id
      "
    | sort: "amount"
    | map: "amount"
    | last
  %}
  {% endif %}
  <a class="galery image" href="{{ dress.url | relative_url }}">
    <img src="{{ '/assets/images/dresses/' | append: dress.sw-dress-id | append: '-' | append: dress.sw-dress-photos[0] | append: '-640.JPG' | relative_url }}">
    <span class="title">{{ dress.sw-dress-name }}</span>
    {% if discount %}
    <div class="discount-tag">До -{{discount}}%</div>
    {% endif %}
  </a>
  {% endfor %}
</div>

{% if page.sw-collection-description %}
<div class="divider"></div>

<div class="article container">
  <div class="article image-container">
    <img
      id="article-image"
      class="article image"
      src="{{ '/assets/images/' | append: page.sw-collection-designer-photo | append: '-640.JPG' | relative_url }}"
      hd-src="{{ '/assets/images/' | append: page.sw-collection-designer-photo | append: '-1920.JPG' | relative_url }}"
      alt="{{ page.sw-collection-designer-photo-alt }}" title="{{ page.sw-collection-designer-photo-alt }}">
  </div>

  <article class="article text">
    {{ page.sw-collection-description | newline_to_br }}
  </article>
</div>
{% endif %}