---
layout: base
---

<header>
  {% include swogan-bar.html %}
</header>
{% include discount.html %}
<main class="{{ page.pageClass }}">
  {% if page.hideTitle != true %}
    <h1>
      {% if page.customTitle %}
      {{ page.customTitle }}
      {% else %}
      {{ page.title }}
      {% endif %}
    </h1>
  {% endif %}
  <section class="layout">
    {{ content }}
  </section>
</main>
{% if page.disableCookieDisclaimer != true %}
  {% include cookies.html %}
{% endif %}
{% include footer.html %}
{% include background.html %}